.ai-planet-logo {
  position: absolute;
  top: calc(50% - 20px);
  left: 8.88rem;
  width: 6.56rem;
  height: 2.56rem;
}
:-moz-webkit-scrolbar{
  display: none;
}
.newest{
  border: none;
  font-size: 1rem;
  color: rgb(58, 58, 58);
  height: 3.5vh;
  width: 10vw;
  border-radius: var(--br-81xl);
  border: 1px solid var(--celestial-grey-cg-500);
}
.srch{
  border: none;
  outline: none;
  font-size: 1rem;
  color: rgb(58, 58, 58);
  height: 3.5vh;
  width: 10vw;
}

/* option{
  height: 20vh;
} */
.arrow-drop-down-icon,
.person-icon {
  position: relative;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  overflow: hidden;
}
.arrow-drop-down-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.menu-item {
  position: absolute;
  top: calc(50% - 23px);
  right: 8.88rem;
  border-radius: var(--br-3xs);
  display: none;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-lg);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.learn-ai {
  position: relative;
  line-height: 175%;
  font-weight: 500;
}
.menu-item1 {
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-lg);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.arrow-drop-down-icon2 {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  overflow: hidden;
  display: none;
}
.menu,
.navbar {
  position: absolute;
}

.menu {
  top: calc(50% - 22px);
  left: calc(50% - 362px);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navbar {
  width: 100vw;
  top: 0.13rem;
  right: 0;
  left: 0;
  background-color: var(--celestial-hue-celestial-light);
  height: 4rem;
  overflow: hidden;
  font-size: var(--desktop-body-1-b1-400-size);
  color: var(--celestial-green-cg-600);
  font-family: var(--desktop-heading-6-h6-400);
}
.waves-icon {
  position: absolute;
  top: 8.31rem;
  left: calc(50% - 720px);
  width: 90rem;
  height: 27.06rem;
  object-fit: cover;
  opacity: 0.75;
}
.hackathon-submissions {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.lorem-ipsum-dolor {
  position: absolute;
  top: 4.75rem;
  left: 0;
  font-size: var(--desktop-heading-6-h6-400-size);
  font-weight: 500;
  display: inline-block;
  width: 49.5rem;
}
.join-for-free {
  position: relative;
  line-height: 175%;
  font-weight: 600;
}
.sign-up-button {
  position: absolute;
  top: 11.75rem;
  outline :none;
  border: none;
  cursor: pointer;
  color: whitesmoke;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--celestial-green-cg-600);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14),
    0 1px 5px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-lg);
  align-items: center;
  justify-content: center;
  font-size: var(--desktop-body-1-b1-400-size);
  filter: drop-shadow(0 0 1rem rgb(80, 79, 79));
}
.text-button {
  position: absolute;
  top: calc(50% - 120px);
  left: 8.88rem;
  width: 49.5rem;
  height: 15rem;
}
.untitled-design-1 {
  position: absolute;
  top: calc(50% - 150px);
  right: 8.88rem;
  width: 12.49rem;
  height: 18.75rem;
  object-fit: cover;
}
.hero {
  position: absolute;
  top: 4.13rem;
  left: 0;
  background-color: var(--celestial-blue-cb-900);
  width: 100vw;
  height: 26rem;
  overflow: hidden;
  font-size: var(--desktop-heading-1-h1-600-size);
  color: var(--celestial-hue-celestial-light);
  font-family: var(--desktop-heading-6-h6-400);
}
.all-submissions {
  position: relative;
  font-weight: 500;
}
.all-submissions-wrapper,
.favourite-submissions-wrapper {
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.all-submissions-wrapper {
  border-bottom: 4px solid var(--celestial-green-cg-600);
}
.favourite-submissions-wrapper {
  color: var(--celestial-grey-cg-500);
}
.search,
.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.tabs {
  position: absolute;
  top: 33.25rem;
  left: 8.88rem;
  text-align: center;
  font-size: var(--desktop-heading-6-h6-400-size);
  color: var(--celestial-grey-cg-700);
  font-family: var(--desktop-heading-6-h6-400);
}
.search {
  border-radius: var(--br-81xl);
  border: 1px solid var(--celestial-grey-cg-500);
  box-sizing: border-box;
  width: 18.75rem;
  height: 2.5rem;
  flex-shrink: 0;
  padding: var(--padding-base);
  gap: var(--gap-5xs);
}
.newest {
  flex: 1;
  position: relative;
}
.filter,
.utilities {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.filter {
  border-radius: var(--br-81xl);
  border: 1px solid var(--celestial-grey-cg-500);
  box-sizing: border-box;
  width: 8.75rem;
  height: 2.5rem;
  flex-shrink: 0;
  padding: var(--padding-base);
  align-items: center;
  gap: var(--gap-5xs);
}
.utilities {
  position: absolute;
  top: 33.25rem;
  right: 8.88rem;
  align-items: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--desktop-heading-6-h6-400-size);
  color: var(--celestial-grey-cg-500);
  font-family: var(--desktop-heading-6-h6-400);
}
.image-icon {
  position: relative;
  border-radius: var(--br-5xs);
  width: 6.25rem;
  height: 6.25rem;
  flex-shrink: 0;
  object-fit: cover;
}
.interviewme {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.heading {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-family: var(--desktop-heading-6-h6-400);
}
.desc,
.remove-red-eye-icon {
  position: relative;
  flex-shrink: 0;
}
.desc {
  align-self: stretch;
  font-size: var(--desktop-body-1-b1-400-size);
  color: var(--celestial-grey-cg-700);
  display: inline-block;
  height: 3.75rem;
}
.remove-red-eye-icon {
  width: 1rem;
  height: 1rem;
  overflow: hidden;
  display: none;
}
.uploaded-6-days {
  position: relative;
}
.stats,
.view {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.view {
  flex: 1;
  justify-content: flex-end;
  gap: var(--gap-7xs);
}
.stats {
  align-self: stretch;
  justify-content: flex-start;
  font-size: var(--desktop-body-2-b2-500-size);
  color: var(--celestial-grey-cg-500);
}
.card,
.card1,
.card2,
.card3,
.card4,
.card5 {
  position: absolute;
  top: 38.88rem;
  left: 9.38rem;
  border-radius: var(--br-base);
  background-color: var(--celestial-hue-celestial-light);
  box-shadow: 0 3px 1.7px transparent inset, 0-3px 6px rgba(0, 0, 0, 0.06) inset,
    0 3px 24px rgba(132, 132, 132, 0.16);
  width: 22.5rem;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.card1,
.card2,
.card3,
.card4,
.card5 {
  top: 60.06rem;
}
.card2,
.card3,
.card4,
.card5 {
  top: 38.88rem;
  left: 33.75rem;
}
.card3,
.card4,
.card5 {
  top: 60.06rem;
}
.card4,
.card5 {
  top: 38.88rem;
  left: 58.13rem;
}
.card5 {
  top: 60.06rem;
}
.filter-option {
  background-color: var(--celestial-green-cg-50);
  width: 8.75rem;
  height: 2.5rem;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-base);
  box-sizing: border-box;
  align-items: center;
}
.filter-option,
.filter-option1,
.filter-options {
  display: flex;
  justify-content: flex-start;
}
.filter-option1 {
  background-color: var(--celestial-hue-celestial-light);
  width: 8.75rem;
  height: 2.5rem;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-base);
  box-sizing: border-box;
  align-items: center;
}
.filter-options {
  position: absolute;
  top: 36rem;
  left: 72.38rem;
  border-radius: var(--br-5xs);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--desktop-heading-6-h6-400-size);
  color: var(--celestial-grey-cg-700);
  font-family: var(--desktop-heading-6-h6-400);
}
.desktop-01 {
  position: relative;
  background-color: var(--miscellaneous-m-4);
  width: 100%;
  height: 84.56rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--desktop-heading-5-h5-500-size);
  color: var(--celestial-grey-cg-900);
  font-family: var(--desktop-body-1-b1-400);
}
