.ai-planet-logo8 {
  position: absolute;
  top: calc(50% - 20px);
  left: 8.88rem;
  width: 6.56rem;
  height: 2.56rem;
}
.arrow-drop-down-icon53,
.person-icon8 {
  position: relative;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  overflow: hidden;
}
.arrow-drop-down-icon53 {
  width: 1.5rem;
  height: 1.5rem;
}
.menu-item48 {
  position: absolute;
  top: calc(50% - 23px);
  right: 8.88rem;
  border-radius: var(--br-3xs);
  display: none;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-lg);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.learn-ai40 {
  position: relative;
  line-height: 175%;
  font-weight: 500;
}
.menu-item49 {
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-lg);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.arrow-drop-down-icon55 {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  overflow: hidden;
  display: none;
}
.menu8,
.navbar8 {
  position: absolute;
}
.menu8 {
  top: calc(50% - 22px);
  left: calc(50% - 362px);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navbar8 {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--celestial-hue-celestial-light);
  height: 4rem;
  overflow: hidden;
}
.edit-hackathon-submission {
  position: relative;
  font-size: var(--desktop-heading-3-h3-500-size);
  font-weight: 500;
  color: var(--celestial-grey-cg-700);
}
.pirate-ipsum {
  position: relative;
}
.item9,
.pirate-ipsum-wrapper {
  display: flex;
  justify-content: flex-start;
}
.pirate-ipsum-wrapper {
  align-self: stretch;
  border-radius: var(--br-5xs);
  border: 1px solid var(--celestial-grey-cg-200);
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  font-size: var(--desktop-body-1-b1-400-size);
  color: var(--celestial-grey-cg-700);
  font-family: var(--desktop-body-1-b1-400);
}
.item9 {
  width: 44.13rem;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.shiver-to-tender {
  flex: 1;
  position: relative;
}
.description3 {
  position: relative;
  font-family: var(--desktop-heading-6-h6-400);
}
.pirate-ipsum-arrgh {
  margin: 0;
}
.pirate-ipsum-arrgh-bounty-warp-wrapper {
  align-self: stretch;
  border-radius: var(--br-5xs);
  border: 1px solid var(--celestial-grey-cg-200);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--desktop-body-1-b1-400-size);
  color: var(--celestial-grey-cg-700);
}
.characters1 {
  align-self: stretch;
  position: relative;
  font-size: var(--desktop-body-2-b2-500-size);
  color: var(--celestial-grey-cg-400);
  text-align: right;
}
.item11 {
  width: 44.13rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-family: var(--desktop-body-1-b1-400);
}
.cover-image1 {
  position: relative;
  font-size: var(--desktop-heading-6-h6-400-size);
  font-family: var(--desktop-heading-6-h6-400);
}
.minimum-resolution-360px1 {
  position: relative;
  color: var(--celestial-grey-cg-400);
}
.image-icon7 {
  position: relative;
  border-radius: var(--br-9xs);
  width: 3rem;
  height: 3rem;
  flex-shrink: 0;
  overflow: hidden;
  object-fit: cover;
}
.edit-profile {
  position: relative;
  font-weight: 600;
}
.white-button {
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-lg);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  font-size: var(--desktop-body-2-b2-500-size);
  color: var(--celestial-grey-cg-400);
}
.item12,
.upload2 {
  width: 44.13rem;
  display: flex;
}
.upload2 {
  border-radius: var(--br-base);
  background-color: var(--miscellaneous-m-4);
  height: 5.13rem;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
  color: var(--celestial-grey-cg-700);
}
.item12 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--desktop-body-1-b1-400-size);
  font-family: var(--desktop-body-1-b1-400);
}
.calendar-today-icon6 {
  position: relative;
  width: 1.13rem;
  height: 1.13rem;
  flex-shrink: 0;
  overflow: hidden;
}
.field4 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  border: 1px solid var(--celestial-grey-cg-200);
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  gap: var(--gap-base);
  font-size: var(--desktop-body-1-b1-400-size);
  color: var(--celestial-grey-cg-700);
  font-family: var(--desktop-body-1-b1-400);
}
.field4,
.item14,
.section-011 {
  display: flex;
  justify-content: flex-start;
}
.section-011 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
}
.item14 {
  width: 44.13rem;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-13xl);
}
.file-upload1 {
  position: relative;
  font-size: var(--desktop-heading-6-h6-400-size);
  font-family: var(--desktop-heading-6-h6-400);
  color: var(--celestial-grey-cg-900);
}
.recommended-resolution-abcd1 {
  position: relative;
  display: none;
}
.insert-drive-file-icon {
  position: relative;
  width: 3rem;
  height: 3rem;
  flex-shrink: 0;
  overflow: hidden;
}
.item17 {
  width: 44.13rem;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--desktop-body-1-b1-400-size);
  color: var(--celestial-grey-cg-400);
  font-family: var(--desktop-body-1-b1-400);
}
.span1 {
  color: var(--color-sandybrown);
}
.data-description-container1 {
  position: relative;
  font-weight: 500;
}
.group-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 51.06rem;
  height: 22.31rem;
}
.screenshot-2022-03-02-at-11531 {
  top: 0;
  height: 4.19rem;
  object-fit: cover;
}
.rectangle-div,
.rectangle-group,
.screenshot-2022-03-02-at-11531 {
  position: absolute;
  left: 0;
  width: 51.06rem;
}
.rectangle-group {
  top: 0;
  height: 22.31rem;
}
.rectangle-div {
  top: 20.19rem;
  border-radius: 0 0 var(--br-8xs) var(--br-8xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  height: 2.13rem;
}
.bitriangle-fill-icon1 {
  position: absolute;
  top: 21.7rem;
  left: 50.68rem;
  width: 0.63rem;
  height: 0.5rem;
  overflow: hidden;
}
.group-container {
  position: relative;
  width: 51.06rem;
  height: 22.31rem;
  flex-shrink: 0;
}
.section-41,
.title5 {
  justify-content: flex-start;
}
.section-41 {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
  font-size: var(--desktop-body-1-b1-400-size);
  color: var(--celestial-grey-cg-700);
  font-family: var(--desktop-body-1-b1-400);
}
.title5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
  font-size: var(--font-size-5xl);
}
.information-outline-icon4 {
  position: relative;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  overflow: hidden;
}
.title6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.field6,
.title-group {
  align-self: stretch;
  display: flex;
}
.field6 {
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  height: 2.5rem;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: center;
  justify-content: space-between;
}
.title-group {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.field-item {
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 28.31rem;
  height: 2.44rem;
  flex-shrink: 0;
}
.field7,
.section-101 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.field7 {
  display: flex;
}
.section-101 {
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  display: none;
  padding: var(--padding-base);
  font-size: var(--desktop-body-1-b1-400-size);
  color: var(--celestial-grey-cg-700);
  font-family: var(--desktop-body-1-b1-400);
}
.line-div {
  position: relative;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 51.13rem;
  height: 0.06rem;
  flex-shrink: 0;
}
.sign-up-button6 {
  border-radius: var(--br-3xs);
  background-color: var(--celestial-green-cg-600);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14),
    0 1px 5px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-lg);
  align-items: center;
  justify-content: center;
}
.content1,
.line-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--desktop-body-1-b1-400-size);
  color: var(--celestial-hue-celestial-light);
}
.content1 {
  position: absolute;
  top: 7.13rem;
  left: 8.88rem;
  border-radius: var(--br-5xl);
  background-color: var(--celestial-hue-celestial-light);
  padding: var(--padding-11xl) var(--padding-29xl);
  gap: var(--gap-21xl);
  font-size: var(--desktop-heading-6-h6-400-size);
  color: var(--celestial-grey-cg-900);
}
.desktop-11 {
  position: relative;
  background-color: var(--miscellaneous-m-4);
  width: 100%;
  height: 115.94rem;
  text-align: left;
  font-size: var(--desktop-body-1-b1-400-size);
  color: var(--celestial-green-cg-600);
  font-family: var(--desktop-heading-6-h6-400);
}
