@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;1,400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --desktop-heading-6-h6-400: Poppins;
  --desktop-body-1-b1-400: Inter;

  /* font sizes */
  --desktop-heading-6-h6-400-size: 1.06rem;
  --desktop-body-2-b2-500-size: 0.88rem;
  --desktop-body-1-b1-400-size: 1rem;
  --desktop-heading-5-h5-500-size: 1.25rem;
  --desktop-heading-1-h1-600-size: 2.63rem;
  --font-size-5xl: 1.5rem;
  --desktop-heading-3-h3-500-size: 1.81rem;

  /* Colors */
  --miscellaneous-m-4: #f8f9fd;
  --celestial-hue-celestial-light: #fff;
  --celestial-blue-cb-700: #255973;
  --celestial-grey-cg-700: #333;
  --celestial-blue-cb-900: #003145;
  --celestial-green-cg-50: #e3f2e5;
  --celestial-grey-cg-500: #666;
  --color-gray-100: #fafafa;
  --celestial-grey-cg-400: #858585;
  --celestial-grey-cg-900: #222;
  --celestial-green-cg-600: #44924c;
  --color-whitesmoke-100: #f8f8f8;
  --celestial-grey-cg-50: #f5f5f5;
  --color-gainsboro: #e6e6e6;
  --color-silver: #b7b7b7;
  --color-sandybrown: #f2994a;
  --celestial-grey-cg-200: #ccc;
  --celestial-red-cr-600: #df2c1d;

  /* Gaps */
  --gap-13xl: 2rem;
  --gap-7xs: 0.38rem;
  --gap-5xl: 1.5rem;
  --gap-5xs: 0.5rem;
  --gap-base: 1rem;
  --gap-9xs: 0.25rem;
  --gap-21xl: 2.5rem;
  --gap-xs: 0.75rem;

  /* Paddings */
  --padding-base: 1rem;
  --padding-5xl: 1.5rem;
  --padding-xs: 0.75rem;
  --padding-lg: 1.13rem;
  --padding-5xs: 0.5rem;
  --padding-7xs: 0.38rem;
  --padding-11xl: 1.88rem;
  --padding-29xl: 3rem;

  /* border radiuses */
  --br-5xs: 8px;
  --br-base: 16px;
  --br-81xl: 100px;
  --br-3xs: 10px;
  --br-5xl: 24px;
  --br-8xs: 5px;
  --br-9xs: 4px;
}
